# Ignore Python Cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/

# Ignore large output folders
out_*/
deep_out_*/
summary_out/
*_clean/*/strategy_analysis_output_*/

# Ignore CSV result files
strategy_results*.csv
combined*.csv
metrics*.csv
errors_backup*.csv

# Ignore Plots & Backups
*.png
*.jpg
*_backup_*/

# Ignore system files
.DS_Store
Thumbs.db
